body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.header {
  background-color: #ffcc00;
  padding: 10px;
}

.logo {
  height: 50px;
}

.container {
  margin: 20px auto;
  width: 60%;
}

.skill {
  margin: 10px 0;
}

.progress {
  height: 10px;
  background: gray;
}

.progress-bar {
  height: 10px;
  background: gold;
}
